{{#each articles}}
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <a href="{{ this.link }}"><h3>{{ this.title }}</h3></a>
      <p>{{ this.text }}</p>
      <button type="button" class="btn btn-primary">Save Article</button>
      <button type="button" class="btn btn-primary">Comment</button>
    </div>
  </div>
  <br>
{{/each}}
